In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
from selenium.webdriver.common.by import By

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [2]:
driver = webdriver.Chrome()
url_1="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url_1)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [3]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [4]:
search_1 = driver.find_element(By.XPATH, '//*[@id="noarticletext"]/tbody/tr/td/span/a')      
search_1.click()

In [5]:
search_2 = driver.find_element(By.XPATH, '//div[@class="mw-search-result-heading"]')       
search_2.click()

In [6]:
# Scraping Rank
rnk = driver.find_elements(By.XPATH, '//div[@id="mw-content-text"]/div/table/tbody/tr/td[1]')
Rank = []
for i in rnk:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text)

print(Rank)

print(len(Rank))

['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Shape of You"[20]', '"See You Again"[23]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Masha and the Bear – Recipe for Disaster"[38]', '"Axel F"[39]', '"Sugar"[40]', '"Baa Baa Black Sheep"[41]', '"Counting Stars"[42]', '"Lakdi Ki Kathi"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Sorry"[46]', '"Shree Hanuman Chalisa"[47]', '"Humpty the train on a fruits ride"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]', '"Baby Shark Dance"[7]', '"Despacito"[10]', '"See You Again"[23]', '"Gangnam Style"⁂[31]', '"Baby"*[69]', '"Bad Romance"[73]', '"Charlie Bit My Finger"[77]', '"Evolution of Dance"[79]', '"Girlfriend"‡[81][82]', '"Evolution of Dance"[79]', '"Music Is My Hot Hot Sex"‡[87]', '"Evolution of Dance"*[79]', '"Pokémon Theme Music Video"‡[92]', '"Myspace – The Movie"‡[97][98]', '"Phony Photo Booth"‡[101]', '"The Chronic of Narnia Rap"‡[107]', '"Ronaldinho: Touch of Gold"‡*[110]', '"I/O Brush"‡*[116]']
48

In [7]:
#scraping Video Name 
nme=driver.find_elements(By.XPATH, '//div[@id="mw-content-text"]/div/table/tbody/tr/td[1]')
for i in nme:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
print(len(Name),Name)

48 ['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Shape of You"[20]', '"See You Again"[23]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Masha and the Bear – Recipe for Disaster"[38]', '"Axel F"[39]', '"Sugar"[40]', '"Baa Baa Black Sheep"[41]', '"Counting Stars"[42]', '"Lakdi Ki Kathi"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Sorry"[46]', '"Shree Hanuman Chalisa"[47]', '"Humpty the train on a fruits ride"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]', '"Baby Shark Dance"[7]', '"Despacito"[10]', '"See You Again"[23]', '"Gangnam Style"⁂[31]', '"Baby"*[69]', '"Bad Romance"[73]', '"Charlie Bit My Finger"[77]', '"Evolution of Dance"[79]', '"Girlfriend"‡[81][82]', '"Evolution of Dance"[79]', '"Music Is My Hot Hot Sex"‡[87]', '"Evolution of Dance"*[79]', '"Pokémon Theme Music Video"‡[92]', '"Myspace – The Movie"‡[97][98]', '"Phony Photo Booth"‡[101]', '"The Chronic of Narnia Rap"‡[107]', '"Ronaldinho: Touch of Gold"‡*[110]', '"I/O Brush"‡*[116]']

In [8]:
#scraping Artist 
Art=driver.find_elements(By.XPATH, "//div[@id='mw-content-text']/div/table/tbody/tr/td[2]")
for i in Art:
    if i.text is None :
        Artist.append("-") 
    else:
        Artist.append(i.text)
print(Artist)

print(len(Artist))

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Psy', 'Miroshka TV', 'Ultra Records', 'Get Movies', 'Crazy Frog', 'Maroon 5', 'Cocomelon - Nursery Rhymes', 'OneRepublic', 'Jingle Toons', 'Katy Perry', 'Shakira', 'Justin Bieber', 'T-Series Bhakti Sagar', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'Ed Sheeran', 'Ed Sheeran', 'Katy Perry', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official', "Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'Wiz Khalifa', 'Psy', 'Justin Bieber', 'Lady Gaga', 'HDCYT', 'Judson Laipply', 'RCA Records', 'Judson Laipply', 'CLARUSBARTEL72', 'Judson Laipply', 'Smosh', 'eggtea', 'mugenized', 'youtubedude', 'Nikesoccer', 'larfus']
48

In [9]:
#scraping Upload Date 
date=driver.find_elements(By.XPATH, "//div[@id='mw-content-text']/div/table/tbody/tr/td[4]")
for i in date:
    if i.text is None :
        Upload_Date.append("-") 
    else:
        Upload_Date.append(i.text)
print(Upload_Date)
print(len(Upload_Date))

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'April 5, 2018', 'January 31, 2012', 'June 16, 2009', 'January 14, 2015', 'June 25, 2018', 'May 31, 2013', 'June 14, 2018', 'September 5, 2013', 'June 4, 2010', 'October 22, 2015', 'May 10, 2011', 'January 26, 2018', 'October 7, 2014', 'November 9, 2017', 'February 20, 2014', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015', 'June 17, 2016', 'January 12, 2017', 'April 6, 2015', 'July 15, 2012', 'February 19, 2010', 'November 24, 2009', 'May 22, 2007', 'April 6, 2006', 'February 27, 2007', 'April 6, 2006', 'April 9, 2007', 'April 6, 2006', 'November 28, 2005', 'January 31, 2006', 'December 1, 2005', 'December 18, 2005', 'October 21, 2005', 'October 5, 2005']
48

In [10]:
#scraping Views 
v=driver.find_elements(By.XPATH, "//div[@id='mw-content-text']/div/table/tbody/tr/td[3]")
for i in v:
    if i.text is None :
        Views.append("--") 
    else:
        Views.append(i.text)
print(Views)
print(len(Views))

['14.32', '8.41', '6.89', '6.66', '6.23', '6.22', '6.01', '5.75', '5.18', '5.10', '5.09', '4.59', '4.57', '4.45', '4.02', '4.01', '4.00', '3.98', '3.98', '3.89', '3.78', '3.77', '3.76', '3.75', '3.70', '3.70', '3.64', '3.60', '3.58', '3.57', '7,046,700,000', '2,993,700,000', '2,894,000,000', '803,700,000', '245,400,000', '178,400,000', '128,900,000', '118,900,000', '92,600,000', '78,400,000', '76,600,000', '10,600,000', '4,300,000', '2,700,000', '3,400,000', '2,300,000', '255,000', '247,000']
48

In [11]:
Yt=pd.DataFrame([])
Yt['Rank']=Rank
Yt['Video Title']=Name
Yt['Artist']=Artist
Yt['Upload_Date']=Upload_Date
Yt['Views In Bllion']=Views
Yt

,Rank,Video Title,Artist,Upload_Date,Views In Bllion
0,"""Baby Shark Dance""[7]","""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,"""Despacito""[10]","""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,"""Johny Johny Yes Papa""[18]","""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,"""Bath Song""[19]","""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,"""Shape of You""[20]","""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,"""See You Again""[23]","""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,"""Wheels on the Bus""[28]","""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,"""Phonics Song with Two Words""[29]","""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,"""Uptown Funk""[30]","""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,"""Gangnam Style""[31]","""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,"""Learning Colors – Colorful Eggs on a Farm""[36]","""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,"""Dame Tu Cosita""[37]","""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,"""Masha and the Bear – Recipe for Disaster""[38]","""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,"""Axel F""[39]","""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,"""Sugar""[40]","""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""[41]","""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,"""Counting Stars""[42]","""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,"""Lakdi Ki Kathi""[43]","""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,"""Roar""[44]","""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,"""Waka Waka (This Time for Africa)""[45]","""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,"""Sorry""[46]","""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,"""Shree Hanuman Chalisa""[47]","""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,"""Humpty the train on a fruits ride""[48]","""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,"""Thinking Out Loud""[49]","""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,"""Perfect""[50]","""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,"""Dark Horse""[51]","""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,"""Let Her Go""[52]","""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,"""Faded""[53]","""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""[54]","""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,"""Lean On""[55]","""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57
30,"""Baby Shark Dance""[7]","""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
31,"""Despacito""[10]","""Despacito""[10]",Luis Fonsi,"January 12, 2017","2,993,700,000"
32,"""See You Again""[23]","""See You Again""[23]",Wiz Khalifa,"April 6, 2015","2,894,000,000"
33,"""Gangnam Style""⁂[31]","""Gangnam Style""⁂[31]",Psy,"July 15, 2012","803,700,000"
34,"""Baby""*[69]","""Baby""*[69]",Justin Bieber,"February 19, 2010","245,400,000"
35,"""Bad Romance""[73]","""Bad Romance""[73]",Lady Gaga,"November 24, 2009","178,400,000"
36,"""Charlie Bit My Finger""[77]","""Charlie Bit My Finger""[77]",HDCYT,"May 22, 2007","128,900,000"
37,"""Evolution of Dance""[79]","""Evolution of Dance""[79]",Judson Laipply,"April 6, 2006","118,900,000"
38,"""Girlfriend""‡[81][82]","""Girlfriend""‡[81][82]",RCA Records,"February 27, 2007","92,600,000"
39,"""Evolution of Dance""[79]","""Evolution of Dance""[79]",Judson Laipply,"April 6, 2006","78,400,000"
40,"""Music Is My Hot Hot Sex""‡[87]","""Music Is My Hot Hot Sex""‡[87]",CLARUSBARTEL72,"April 9, 2007","76,600,000"
41,"""Evolution of Dance""*[79]","""Evolution of Dance""*[79]",Judson Laipply,"April 6, 2006","10,600,000"
42,"""Pokémon Theme Music Video""‡[92]","""Pokémon Theme Music Video""‡[92]",Smosh,"November 28, 2005","4,300,000"
43,"""Myspace – The Movie""‡[97][98]","""Myspace – The Movie""‡[97][98]",eggtea,"January 31, 2006","2,700,000"
44,"""Phony Photo Booth""‡[101]","""Phony Photo Booth""‡[101]",mugenized,"December 1, 2005","3,400,000"
45,"""The Chronic of Narnia Rap""‡[107]","""The Chronic of Narnia Rap""‡[107]",youtubedude,"December 18, 2005","2,300,000"
46,"""Ronaldinho: Touch of Gold""‡*[110]","""Ronaldinho: Touch of Gold""‡*[110]",Nikesoccer,"October 21, 2005","255,000"
47,"""I/O Brush""‡*[116]","""I/O Brush""‡*[116]",larfus,"October 5, 2005","247,000"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

In [12]:
driver = webdriver.Chrome()
url2="https://www.bcci.tv/international/fixtures"
driver.get(url2)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [13]:
Series=[]
Place =[]
Date =[]
Time=[]

In [14]:
search_1 = driver.find_element(By.XPATH, '//div[@class="imw-tabs international-tabs"]/a[2]')      
search_1.click()

In [15]:
#series
sr=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in sr:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)
print(Series)

['ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [16]:
#place
pl=driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
for i in pl:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)
print(Place)

['Nassau County International Cricket Stadium,', 'Nassau County International Cricket Stadium,', 'Nassau County International Cricket Stadium,', 'Central Broward Park & Broward County Stadium, Lauderhill,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,']

In [17]:
#date
G=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in G:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
print(Date)

['5 JUNE, 2024', '9 JUNE, 2024', '12 JUNE, 2024', '15 JUNE, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [18]:
#time
TO=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in TO:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)
print(Time)

['3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST', '3:30 PM IST']

In [19]:
IF=pd.DataFrame([])
IF['Series']=Series
IF['Place']=Place
IF['Date']=Date
IF['Time']=Time
IF

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","5 JUNE, 2024",3:30 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","9 JUNE, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","12 JUNE, 2024",3:30 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",3:30 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",3:30 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",3:30 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",3:30 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","13 JULY, 2024",3:30 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","14 JULY, 2024",3:30 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [20]:
driver = webdriver.Chrome()
url3="http://statisticstimes.com/"
driver.get(url3)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [21]:
Rank=[]
State=[]
GSDP_18_19=[]
GSDP_19_20=[]
Share_18_19=[]
GDP=[]

In [22]:
economy = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/button')     
economy.click()

In [23]:
india = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]')       
india.click()

In [24]:
gdp = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')      
gdp.click()

In [25]:
#scraping the Rank 
r=driver.find_elements(By.XPATH, "//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [26]:
#scraping the State 
St=driver.find_elements(By.XPATH, "//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

68 ['Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Odisha', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [27]:
#scraping GSDP for 22-23
gdp=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdp:
    if i.text is None :
        GSDP_18_19.append("--") 
    else:
        GSDP_18_19.append(i.text)
print(len(GSDP_18_19),GSDP_18_19)

33 ['-', '2,364,514', '2,269,995', '2,258,040', '2,230,609', '1,531,758', '1,365,849', '1,303,524', '1,308,034', '1,246,471', '1,046,188', '1,014,688', '984,055', '753,177', '751,396', '676,164', '493,167', '464,399', '393,722', '303,781', '224,226', '191,728', '93,672', '72,636', '54,285', '49,643', '42,697', '42,756', '-', '39,630', '35,643', '-', '-']

In [28]:
#scraping the GSDP 23-24

gdp=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[5]')
for i in gdp:
    if i.text is None :
        GSDP_19_20.append("--") 
    else:
        GSDP_19_20.append(i.text)
print(len(GSDP_19_20),GSDP_19_20)

33 ['3,108,022', '2,071,286', '1,978,094', '1,975,595', '1,928,683', '1,329,238', '1,193,489', '1,148,471', '1,124,204', '1,092,964', '934,542', '881,336', '868,905', '662,886', '650,302', '617,192', '411,454', '410,525', '358,863', '267,143', '193,352', '172,162', '84,266', '62,550', '46,096', '43,810', '38,785', '37,557', '36,594', '34,775', '31,038', '27,824', '10,371']

In [29]:
#scraping the Share 
shr=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[6]')
for i in shr:
    if i.text is None :
        Share_18_19.append("--") 
    else:
        Share_18_19.append(i.text)
print(len(Share_18_19),Share_18_19)

33 ['13.17%', '8.78%', '8.38%', '8.37%', '8.17%', '5.63%', '5.06%', '4.87%', '4.76%', '4.63%', '3.96%', '3.73%', '3.68%', '2.81%', '2.76%', '2.62%', '1.74%', '1.74%', '1.52%', '1.13%', '0.82%', '0.73%', '0.36%', '0.27%', '0.20%', '0.19%', '0.16%', '0.16%', '0.16%', '0.15%', '0.13%', '0.12%', '0.04%']

In [30]:
#scraping the GDP
gd=driver.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[7]')
for i in gd:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
print(len(GDP),GDP)

33 ['414.928', '276.522', '264.080', '263.747', '257.484', '177.456', '159.334', '153.324', '150.084', '145.913', '124.764', '117.660', '116.001', '88.497', '86.817', '82.397', '54.930', '54.806', '47.909', '35.664', '25.813', '22.984', '11.250', '8.351', '6.154', '5.849', '5.178', '5.014', '4.885', '4.643', '4.144', '3.715', '1.385']

In [31]:
State_GDP=pd.DataFrame([])
State_GDP['Rank']=Rank[:33]
State_GDP['State']=State[:33]
State_GDP['GSDP 2022-23']=GSDP_18_19[:33]
State_GDP['GSDP 2023-24']=GSDP_19_20[:33]
State_GDP['Share']=Share_18_19[:33]
State_GDP['GDP']=GDP[:33]
State_GDP

   Rank                      State GSDP 2022-23 GSDP 2023-24   Share      GDP
0     1                Maharashtra            -    3,108,022  13.17%  414.928
1     2                 Tamil Nadu    2,364,514    2,071,286   8.78%  276.522
2     3                  Karnataka    2,269,995    1,978,094   8.38%  264.080
3     4              Uttar Pradesh    2,258,040    1,975,595   8.37%  263.747
4     5                    Gujarat    2,230,609    1,928,683   8.17%  257.484
5     6                West Bengal    1,531,758    1,329,238   5.63%  177.456
6     7                  Rajasthan    1,365,849    1,193,489   5.06%  159.334
7     8             Andhra Pradesh    1,303,524    1,148,471   4.87%  153.324
8     9                  Telangana    1,308,034    1,124,204   4.76%  150.084
9    10             Madhya Pradesh    1,246,471    1,092,964   4.63%  145.913
10   11                     Kerala    1,046,188      934,542   3.96%  124.764
11   12                      Delhi    1,014,688      881,336   3.73%  117.660
12   13                    Haryana      984,055      868,905   3.68%  116.001
13   14                     Odisha      753,177      662,886   2.81%   88.497
14   15                      Bihar      751,396      650,302   2.76%   86.817
15   16                     Punjab      676,164      617,192   2.62%   82.397
16   17                      Assam      493,167      411,454   1.74%   54.930
17   18               Chhattisgarh      464,399      410,525   1.74%   54.806
18   19                  Jharkhand      393,722      358,863   1.52%   47.909
19   20                Uttarakhand      303,781      267,143   1.13%   35.664
20   21            Jammu & Kashmir      224,226      193,352   0.82%   25.813
21   22           Himachal Pradesh      191,728      172,162   0.73%   22.984
22   23                        Goa       93,672       84,266   0.36%   11.250
23   24                    Tripura       72,636       62,550   0.27%    8.351
24   25                 Chandigarh       54,285       46,096   0.20%    6.154
25   26                 Puducherry       49,643       43,810   0.19%    5.849
26   27                  Meghalaya       42,697       38,785   0.16%    5.178
27   28                     Sikkim       42,756       37,557   0.16%    5.014
28   29                    Manipur            -       36,594   0.16%    4.885
29   30          Arunachal Pradesh       39,630       34,775   0.15%    4.643
30   31                   Nagaland       35,643       31,038   0.13%    4.144
31   32                    Mizoram            -       27,824   0.12%    3.715
32   33  Andaman & Nicobar Islands            -       10,371   0.04%    1.385

# 4. Scrape the details of trending repositories on Github.com.

In [32]:
driver = webdriver.Chrome()
url4="https://github.com/"
driver.get(url4)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [33]:
RT =[]
RD =[]
# Contributors=[]
Language=[]

In [34]:
explore = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')      
explore.click()

In [35]:
trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')  
trending.click()

In [36]:
#scraping the Repositor_Name 
RN=driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]')
for i in RN:
    if i.text is None :
        RT.append("--") 
    else:
        RT.append(i.text)
print(len(RT),RT)

25 ['VinciGit00 / Scrapegraph-ai', 'toeverything / AFFiNE', 'IvanGlinkin / CCTV', 'Skyvern-AI / skyvern', 'huggingface / lerobot', 'ejoy / ant', 'OpenDevin / OpenDevin', 'rustdesk / rustdesk', 'pagefaultgames / pokerogue', 'AtotheY / saas-landingpage', 'tangzhiyao / boss-show-time', 'Blealtan / efficient-kan', 'phenaproxima / starshot-prototype', 'HqWu-HITCS / Awesome-Chinese-LLM', 'airbnb / lottie-ios', 'FunkinCrew / Funkin', 'AdityaNG / kan-gpt', 'deepseek-ai / DeepSeek-V2', 'assafelovic / gpt-researcher', 'commaai / openpilot', 'infiniflow / ragflow', 'CorentinTh / it-tools', 'cloudwu / skynet', 'NielsRogge / Transformers-Tutorials', 'HVision-NKU / StoryDiffusion']

In [37]:
#scraping the Description 
des=driver.find_elements(By.XPATH, '//article[@class="Box-row"]/p')
for i in des:
    if i.text is None :
        RD.append("--") 
    else:
        RD.append(i.text)
print(len(RD),RD)

23 ['Python scraper based on AI', 'There can be more than Notion and Miro. AFFiNE(pronounced [ə‘fain]) is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.', 'Close-Circuit Telegram Vision revolutionizes location tracking with its open-source design and Telegram API integration. Offering precise tracking within 50-100 meters, users can monitor others in real-time for logistics or safety, redefining how we navigate our surroundings', 'Automate browser-based workflows with LLMs and Computer Vision', '🤗 LeRobot: State-of-the-art Machine Learning for Real-World Robotics in Pytorch', 'Ant game engine', '🐚 OpenDevin: Code Less, Make More', 'An open-source remote desktop, and alternative to TeamViewer.', 'https://map.sistilli.dev/public/coding/SaaS+Boilerplate', '展示boss直聘岗位的发布时间', 'An efficient pure-PyTorch implementation of Kolmogorov-Arnold Network (KAN).', "Prototype of a new kind of Drupal, based on recipes and loaded up with contrib's best modules and themes. Not a fork or a distribution.", '整理开源的中文大语言模型，以规模较小、可私有化部署、训练成本较低的模型为主，包括底座模型，垂直领域微调及应用，数据集与教程等。', 'An iOS library to natively render After Effects vector animations', 'A rhythm game made with HaxeFlixel', 'The PyTorch implementation of Generative Pre-trained Transformers (GPTs) using Kolmogorov-Arnold Networks (KANs) for language modeling', 'GPT based autonomous agent that does online comprehensive research on any given topic', 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for 250+ supported car makes and models.', 'RAGFlow is an open-source RAG (Retrieval-Augmented Generation) engine based on deep document understanding.', 'Collection of handy online tools for developers, with great UX.', 'A lightweight online game framework', 'This repository contains demos I made with the Transformers library by HuggingFace.', 'Create Magic Story!']

In [38]:
#scraping the Language
C=driver.find_elements(By.XPATH, "//span[@itemprop='programmingLanguage']")
for i in C:
    if i.text is None :
        Language.append("NAN") 
    else:
        Language.append(i.text)
print(len(Language),Language)

23 ['Python', 'TypeScript', 'JavaScript', 'Python', 'Python', 'Lua', 'Python', 'Rust', 'TypeScript', 'TypeScript', 'JavaScript', 'Python', 'PHP', 'Swift', 'Haxe', 'Python', 'Python', 'Python', 'Python', 'Vue', 'C', 'Jupyter Notebook', 'Jupyter Notebook']

In [39]:
Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=RT[:23]
Trending_Repository['Description']=RD[:23]
Trending_Repository['Language']=Language[:23]
Trending_Repository

,Name,Description,Language
0,VinciGit00 / Scrapegraph-ai,Python scraper based on AI,Python
1,toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,TypeScript
2,IvanGlinkin / CCTV,Close-Circuit Telegram Vision revolutionizes l...,JavaScript
3,Skyvern-AI / skyvern,Automate browser-based workflows with LLMs and...,Python
4,huggingface / lerobot,🤗 LeRobot: State-of-the-art Machine Learning f...,Python
5,ejoy / ant,Ant game engine,Lua
6,OpenDevin / OpenDevin,"🐚 OpenDevin: Code Less, Make More",Python
7,rustdesk / rustdesk,"An open-source remote desktop, and alternative...",Rust
8,pagefaultgames / pokerogue,https://map.sistilli.dev/public/coding/SaaS+Bo...,TypeScript
9,AtotheY / saas-landingpage,展示boss直聘岗位的发布时间,TypeScript
10,tangzhiyao / boss-show-time,An efficient pure-PyTorch implementation of Ko...,JavaScript
11,Blealtan / efficient-kan,"Prototype of a new kind of Drupal, based on re...",Python
12,phenaproxima / starshot-prototype,整理开源的中文大语言模型，以规模较小、可私有化部署、训练成本较低的模型为主，包括底座模型，垂...,PHP
13,HqWu-HITCS / Awesome-Chinese-LLM,An iOS library to natively render After Effect...,Swift
14,airbnb / lottie-ios,A rhythm game made with HaxeFlixel,Haxe
15,FunkinCrew / Funkin,The PyTorch implementation of Generative Pre-t...,Python
16,AdityaNG / kan-gpt,GPT based autonomous agent that does online co...,Python
17,deepseek-ai / DeepSeek-V2,openpilot is an open source driver assistance ...,Python
18,assafelovic / gpt-researcher,RAGFlow is an open-source RAG (Retrieval-Augme...,Python
19,commaai / openpilot,Collection of handy online tools for developer...,Vue
20,infiniflow / ragflow,A lightweight online game framework,C
21,CorentinTh / it-tools,This repository contains demos I made with the...,Jupyter Notebook
22,cloudwu / skynet,Create Magic Story!,Jupyter Notebook

# 5. Scrape the details of top 100 songs on billiboard.com.

In [40]:
driver = webdriver.Chrome()
url5="https://www.billboard.com/"
driver.get(url5)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [41]:
Song = []
Artist = []
LWR=[]
PR=[]
WOB=[]

In [43]:
explore = driver.find_element(By.XPATH, '//div[@class="banner-actions-container"]/button[1]')      
explore.click()

In [44]:
explore = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')      
explore.click()

In [46]:
top100 = driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')       
top100.click()

In [47]:
#scraping the Song_Name 
song=driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song:
    if i.text is None :
        Song.append("--") 
    else:
        Song.append(i.text)
print(len(Song),Song)

100 ['Fortnight', 'Million Dollar Baby', 'A Bar Song (Tipsy)', 'Espresso', 'Beautiful Things', 'Lose Control', 'Too Sweet', 'Like That', 'I Can Do It With A Broken Heart', 'Down Bad', 'Euphoria', 'Saturn', "Who's Afraid Of Little Old Me?", 'So Long, London', 'Lovin On Me', 'My Boy Only Breaks His Favorite Toys', 'Push Ups', 'But Daddy I Love Him', "We Can't Be Friends (Wait For Your Love)", 'Florida!!!', 'The Tortured Poets Department', 'Guilty As Sin?', 'Stick Season', 'I Remember Everything', "Texas Hold 'Em", 'I Like The Way You Kiss Me', 'Greedy', 'Cruel Summer', 'Feather', 'The Smallest Man Who Ever Lived', 'Type Shit', 'Get It Sexyy', 'Agora Hills', 'Wanna Be', 'Fresh Out The Slammer', 'loml', 'The Alchemy', 'Yeah Glo!', 'End Of Beginning', 'I Can Fix Him (No Really I Can)', 'Whatever She Wants', 'Carnival', 'Austin', 'Gata Only', 'Never Lose Me', 'Redrum', 'So High School', 'Good Luck, Babe!', 'imgonnagetyouback', 'Where It Ends', 'The Black Dog', 'Clara Bow', 'Act II: Date @ 8', 'Made For Me', 'Wildflowers And Wild Horses', 'The Prophecy', 'Wild Ones', 'Tell Ur Girlfriend', 'thanK you aIMee', 'FE!N', 'Slow It Down', 'How Did It End?', 'Adivino', 'The Albatross', 'Back Then Right Now', 'I Hate It Here', 'Obsessed', 'Hell N Back', 'Chloe Or Sam Or Sophia Or Marcus', 'Bulletproof', "I Look In People's Windows", 'Illusion', 'Get In With Me', 'Okay', 'The Bolter', 'Cinderella', 'Scared To Start', 'Peter', 'Mmhmm', "Wind Up Missin' You", 'Enough (Miami)', 'Cassandra', 'Halfway To Hell', 'La Diabla', 'Tu Name', 'Outskirts', 'Belong Together', '23', 'II Most Wanted', 'One Of The Girls', 'Tucson Too Late', 'Bandit', 'We Ride', 'Dirt Cheap', 'Cry', 'Wine Into Whiskey', 'Feel It', 'Spin You Around (1/24)', 'The Manuscript', "Let's Go"]

In [48]:
#scraping the Singer 
art=driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/span')
for i in art:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)
print(len(Artist),Artist)

400 ['Taylor Swift Featuring Post Malone', '1', '1', '2', 'Tommy Richman', '-', '2', '1', 'Shaboozey', '27', '3', '3', 'Sabrina Carpenter', '22', '4', '3', 'Benson Boone', '15', '2', '15', 'Teddy Swims', '18', '1', '38', 'Hozier', '16', '1', '6', 'Future, Metro Boomin & Kendrick Lamar', '17', '1', '6', 'Taylor Swift', '3', '3', '2', 'Taylor Swift', '2', '2', '2', 'Kendrick Lamar', '-', '11', '1', 'SZA', '29', '6', '10', 'Taylor Swift', '9', '9', '2', 'Taylor Swift', '5', '5', '2', 'Jack Harlow', '28', '1', '25', 'Taylor Swift', '6', '6', '2', 'Drake', '19', '17', '2', 'Taylor Swift', '7', '7', '2', 'Ariana Grande', '33', '1', '8', 'Taylor Swift Featuring Florence + The Machine', '8', '8', '2', 'Taylor Swift', '4', '4', '2', 'Taylor Swift', '10', '10', '2', 'Noah Kahan', '37', '9', '31', 'Zach Bryan Featuring Kacey Musgraves', '40', '1', '36', 'Beyonce', '31', '1', '12', 'Artemas', '38', '12', '6', 'Tate McRae', '42', '3', '33', 'Taylor Swift', '41', '1', '52', 'Sabrina Carpenter', '50', '21', '22', 'Taylor Swift', '14', '14', '2', 'Future, Metro Boomin, Travis Scott & Playboi Carti', '43', '2', '6', 'Sexyy Red', '49', '20', '7', 'Doja Cat', '45', '7', '32', 'GloRilla & Megan Thee Stallion', '48', '11', '4', 'Taylor Swift', '11', '11', '2', 'Taylor Swift', '12', '12', '2', 'Taylor Swift', '13', '13', '2', 'GloRilla', '59', '32', '12', 'Djo', '56', '11', '11', 'Taylor Swift', '20', '20', '2', 'Bryson Tiller', '54', '19', '11', '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', '52', '1', '12', 'Dasha', '60', '28', '8', 'FloyyMenor X Cris Mj', '58', '27', '7', 'Flo Milli', '61', '15', '20', '21 Savage', '57', '5', '16', 'Taylor Swift', '24', '24', '2', 'Chappell Roan', '62', '44', '4', 'Taylor Swift', '26', '26', '2', 'Bailey Zimmerman', '65', '32', '18', 'Taylor Swift', '25', '25', '2', 'Taylor Swift', '21', '21', '2', '4Batz Featuring Drake', '63', '7', '17', 'Muni Long', '64', '20', '16', 'Lainey Wilson', '71', '48', '14', 'Taylor Swift', '32', '32', '2', 'Jessie Murph & Jelly Roll', '68', '35', '30', 'Lay Bankz', '66', '58', '3', 'Taylor Swift', '23', '23', '2', 'Travis Scott Featuring Playboi Carti', '67', '5', '26', 'Benson Boone', '69', '40', '6', 'Taylor Swift', '35', '35', '2', 'Myke Towers & Bad Bunny', '-', '63', '1', 'Taylor Swift', '30', '30', '2', 'Tyler Hubbard', '73', '62', '7', 'Taylor Swift', '34', '34', '2', 'Olivia Rodrigo', '74', '14', '6', 'Bakar Featuring Summer Walker', '72', '53', '4', 'Taylor Swift', '36', '36', '2', 'Nate Smith', '79', '64', '4', 'Taylor Swift', '39', '39', '2', 'Dua Lipa', '78', '43', '3', 'BossMan DLow', '75', '49', '13', 'JT', '-', '74', '1', 'Taylor Swift', '47', '47', '2', 'Future, Metro Boomin & Travis Scott', '70', '6', '6', 'Michael Marcagi', '82', '54', '11', 'Taylor Swift', '46', '46', '2', 'BigXthaPlug', '77', '63', '19', 'Tucker Wetmore', '76', '75', '5', 'Cardi B', '80', '9', '7', 'Taylor Swift', '44', '44', '2', 'Jelly Roll', '93', '83', '4', 'Xavi', '83', '20', '20', 'Fuerza Regida', '87', '66', '11', 'Sam Hunt', '86', '66', '8', 'Mark Ambor', '-', '87', '1', 'Chayce Beckham', '91', '45', '18', 'Beyonce & Miley Cyrus', '84', '6', '5', 'The Weeknd, Jennie & Lily Rose Depp', '89', '51', '19', 'Jordan Davis', '92', '80', '9', 'Don Toliver', '-', '38', '12', 'Bryan Martin', '-', '93', '4', 'Cody Johnson', '-', '92', '2', 'Benson Boone', '85', '60', '4', 'Tucker Wetmore', '97', '77', '6', 'd4vd', '95', '94', '3', 'Morgan Wallen', '98', '24', '14', 'Taylor Swift', '51', '51', '2', 'Key Glock & Young Dolph', '90', '59', '8']

In [49]:
#scraping the Last_Week Rank 
lwr=driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[4]/span')
for i in lwr:
    if i.text is None :
        LWR.append("--") 
    else:
        LWR.append(i.text)
print(len(LWR),LWR)

100 ['1', '-', '27', '22', '15', '18', '16', '17', '3', '2', '-', '29', '9', '5', '28', '6', '19', '7', '33', '8', '4', '10', '37', '40', '31', '38', '42', '41', '50', '14', '43', '49', '45', '48', '11', '12', '13', '59', '56', '20', '54', '52', '60', '58', '61', '57', '24', '62', '26', '65', '25', '21', '63', '64', '71', '32', '68', '66', '23', '67', '69', '35', '-', '30', '73', '34', '74', '72', '36', '79', '39', '78', '75', '-', '47', '70', '82', '46', '77', '76', '80', '44', '93', '83', '87', '86', '-', '91', '84', '89', '92', '-', '-', '-', '85', '97', '95', '98', '51', '90']

In [50]:
#scraping the peak rank
pr=driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[5]/span')
for i in pr:
    if i.text is None :
        PR.append("--") 
    else:
        PR.append(i.text)
print(len(PR),PR)

100 ['1', '2', '3', '4', '2', '1', '1', '1', '3', '2', '11', '6', '9', '5', '1', '6', '17', '7', '1', '8', '4', '10', '9', '1', '1', '12', '3', '1', '21', '14', '2', '20', '7', '11', '11', '12', '13', '32', '11', '20', '19', '1', '28', '27', '15', '5', '24', '44', '26', '32', '25', '21', '7', '20', '48', '32', '35', '58', '23', '5', '40', '35', '63', '30', '62', '34', '14', '53', '36', '64', '39', '43', '49', '74', '47', '6', '54', '46', '63', '75', '9', '44', '83', '20', '66', '66', '87', '45', '6', '51', '80', '38', '93', '92', '60', '77', '94', '24', '51', '59']

In [51]:
#scraping the week on board
wb=driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[6]/span')
for i in wb:
    if i.text is None :
        WOB.append("--") 
    else:
        WOB.append(i.text)
print(len(WOB),WOB)

100 ['2', '1', '3', '3', '15', '38', '6', '6', '2', '2', '1', '10', '2', '2', '25', '2', '2', '2', '8', '2', '2', '2', '31', '36', '12', '6', '33', '52', '22', '2', '6', '7', '32', '4', '2', '2', '2', '12', '11', '2', '11', '12', '8', '7', '20', '16', '2', '4', '2', '18', '2', '2', '17', '16', '14', '2', '30', '3', '2', '26', '6', '2', '1', '2', '7', '2', '6', '4', '2', '4', '2', '3', '13', '1', '2', '6', '11', '2', '19', '5', '7', '2', '4', '20', '11', '8', '1', '18', '5', '19', '9', '12', '4', '2', '4', '6', '3', '14', '2', '8']

In [52]:
top100=pd.DataFrame([])
top100['Song']=Song[:100]
top100['Artist']=Artist[:100]
top100['Last week rank']=LWR[:100]
top100['Peak rank ']=PR[:100]
top100['Weeks on board']=WOB[:100]
top100

,Song,Artist,Last week rank,Peak rank,Weeks on board
0,Fortnight,Taylor Swift Featuring Post Malone,1,1,2
1,Million Dollar Baby,1,-,2,1
2,A Bar Song (Tipsy),1,27,3,3
3,Espresso,2,22,4,3
4,Beautiful Things,Tommy Richman,15,2,15
...,...,...,...,...,...
95,Wine Into Whiskey,36,97,77,6
96,Feel It,Beyonce,95,94,3
97,Spin You Around (1/24),31,98,24,14
98,The Manuscript,1,51,51,2
99,Let's Go,12,90,59,8

# 6. Scrape the details of Highest selling novels.

In [53]:
driver = webdriver.Chrome()
url6="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url6)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [54]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [55]:
#scraping the Book_name 
bname=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bname:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
print(len(Book_name),Book_name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [56]:
#scraping the Author_name 
Auth=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in Auth:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)
print(len(Author_name),Author_name)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [57]:
#scraping the Volumes_sold 
vs=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in vs:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
print(len(Volumes_sold),Volumes_sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [58]:
#scraping the Publisher 
pub=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in pub:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
print(len(Publisher),Publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [59]:
#scraping the Genre 
gen=driver.find_elements(By.XPATH, "/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in gen:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
print(len(Genre),Genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [60]:
Book=pd.DataFrame([])
Book['Book_name']=Book_name
Book['Author_name']=Author_name
Book['Genre']=Genre
Book['Publisher']=Publisher
Book['Volumes_sold']=Volumes_sold
Book

,Book_name,Author_name,Genre,Publisher,Volumes_sold
0,"Da Vinci Code,The","Brown, Dan","Crime, Thriller & Adventure",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Children's Fiction,Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.",Romance & Sagas,Random House,"3,758,936"
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",General & Literary Fiction,Random House,"807,311"
96,Happy Days with the Naked Chef,"Oliver, Jamie",Food & Drink: General,Penguin,"794,201"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Young Adult Fiction,Scholastic Ltd.,"792,187"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Biography: General,Orion,"791,507"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Food & Drink: General,Penguin,"791,095"

# 7. Scrape the details most watched tv series of all time from imdb.com.

In [61]:
driver = webdriver.Chrome()
url7="https://www.imdb.com/"
driver.get(url7)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [62]:
Name=[]
Year_span=[]
Genres=[]
Run_time=[]
Ratings=[]
Votes=[]

In [63]:
explore = driver.find_element(By.XPATH, '//div[@class="ipc-page-content-container ipc-page-content-container--center navbar__inner"]/label[1]')      
explore.click()

In [64]:
explore = driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]/span')      
explore.click()

In [65]:
#scraping the Name 
mname=driver.find_elements(By.XPATH, '//div[@class="sc-7630d22e-3 kssHlQ ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div[2]/div/div/div/a/h3')
for i in mname:
    if i.text is None :
        Name.append("--")
    else:
        Name.append(i.text)
print(len(Name),Name)

100 ['Fallout', 'Baby Reindeer', 'Shōgun', 'Dead Boy Detectives', 'Ripley', 'The Gentlemen', '3 Body Problem', 'Game of Thrones', 'Them', 'Sugar', "X-Men '97", 'The Tattooist of Auschwitz', 'A Man in Full', 'Knuckles', 'The Veil', "Grey's Anatomy", 'Young Sheldon', 'The Rookie', 'Under the Bridge', 'Dexter', 'American Horror Story', 'Eric', 'The Sympathizer', 'Star Wars: The Bad Batch', 'Bridgerton', 'Shardlake', 'Red Eye', 'From', 'The Boys', 'Tracker', 'NCIS', 'Breaking Bad', 'Law & Order: Special Victims Unit', 'The Asunta Case', 'The Walking Dead', 'Black Sails', 'Heeramandi: The Diamond Bazaar', 'Star Trek: Discovery', '9-1-1', 'Yellowstone', 'True Detective', 'Palm Royale', 'Hacks', 'Criminal Minds', 'Vikings', 'Stranger Things', 'The Sopranos', 'Monk', 'House', 'Suits', 'Queen of Tears', 'The Office', 'Elsbeth', 'Supernatural', 'House of the Dragon', 'A Gentleman in Moscow', 'The Good Doctor', 'Ghosts', 'Shameless', 'Resident Alien', 'Euphoria', 'Fargo', 'Invincible', 'Blue Lights', 'Peaky Blinders', 'Doctor Who', 'Goodbye Earth', 'Curb Your Enthusiasm', 'The Big Bang Theory', 'The Last of Us', 'The Outsider', 'Killing Eve', 'The White Lotus', 'Outlander', 'Friends', 'Black Mirror', 'Modern Family', 'S.W.A.T.', 'The Bear', 'Better Call Saul', "Clarkson's Farm", 'Franklin', 'Succession', 'The Crown', 'Attack on Titan', 'White Collar', 'Ted Lasso', 'Brooklyn Nine-Nine', 'Lost', 'We Were the Lucky Ones', 'The Fall Guy', 'Masters of the Air', 'One Piece', 'Bones', 'Severance', 'Mary & George', 'The Resident', 'Sherlock', 'Chicago Fire', 'Dark Matter']

In [66]:
#scraping the Year_span 
ys=driver.find_elements(By.XPATH, '//div[@class="sc-b189961a-7 feoqjK cli-title-metadata"]/span[1]')
for i in ys:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
print(len(Year_span),Year_span)

100 ['2024–', '2024', '2024', '2024–', '2024', '2024', '2024', '2011–2019', '2021–', '2024–', '2024–', '2024', '2024', '2024', '2024', '2005–', '2017–2024', '2018–', '2024', '2006–2013', '2011–', '2024', '2024', '2021–2024', '2020–', '2024–', '2024–', '2022–', '2019–', '2024–', '2003–', '2008–2013', '1999–', '2024', '2010–2022', '2014–2017', '2024–', '2017–2024', '2018–', '2018–', '2014–', '2024–', '2021–', '2005–', '2013–2020', '2016–2025', '1999–2007', '2002–2009', '2004–2012', '2011–2019', '2024–', '2005–2013', '2024–', '2005–2020', '2022–', '2024–', '2017–2024', '2021–', '2011–2021', '2021–', '2019–', '2014–2024', '2021–', '2023–', '2013–2022', '2005–2022', '2024–', '2000–2024', '2007–2019', '2023–', '2020', '2018–2022', '2021–2025', '2014–', '1994–2004', '2011–', '2009–2020', '2017–', '2022–', '2015–2022', '2021–', '2024–', '2018–2023', '2016–2023', '2013–2023', '2009–2014', '2020–2023', '2013–2021', '2004–2010', '2024', '1981–1986', '2024', '1999–', '2005–2017', '2022–', '2024–', '2018–2023', '2010–2017', '2012–', '2024–']

In [67]:
#scraping the Ratings 
rate=driver.find_elements(By.XPATH, '//div[@class="sc-7630d22e-3 kssHlQ ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div[2]/div/div/span/div/span[1]')
for i in rate:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
print(len(Ratings),Ratings)

100 ['8.5\n (154K)', '8.0\n (71K)', '8.8\n (114K)', '7.6\n (7.9K)', '8.2\n (29K)', '8.1\n (100K)', '7.6\n (105K)', '9.2\n (2.3M)', '7.5\n (26K)', '7.8\n (8.7K)', '9.0\n (17K)', '7.9\n (1.9K)', '6.6\n (4.1K)', '6.3\n (3K)', '6.4\n (1.1K)', '7.6\n (342K)', '7.6\n (103K)', '8.0\n (73K)', '7.3\n (1.9K)', '8.6\n (768K)', '8.0\n (344K)', '', '7.1\n (2K)', '7.8\n (54K)', '7.4\n (169K)', '6.8\n (1.5K)', '7.0\n (2.2K)', '7.7\n (71K)', '8.7\n (654K)', '6.9\n (6.8K)', '7.8\n (163K)', '9.5\n (2.1M)', '8.1\n (125K)', '7.0\n (3.1K)', '8.1\n (1.1M)', '8.2\n (114K)', '6.6\n (22K)', '7.0\n (136K)', '7.9\n (47K)', '8.7\n (222K)', '8.9\n (658K)', '6.8\n (5.8K)', '8.2\n (38K)', '8.1\n (219K)', '8.5\n (584K)', '8.7\n (1.3M)', '9.2\n (473K)', '8.1\n (89K)', '8.7\n (515K)', '8.4\n (480K)', '8.3\n (7.9K)', '9.0\n (714K)', '7.8\n (3.9K)', '8.4\n (484K)', '8.4\n (378K)', '6.8\n (3.3K)', '8.0\n (113K)', '7.9\n (30K)', '8.5\n (286K)', '8.1\n (61K)', '8.3\n (243K)', '8.9\n (423K)', '8.7\n (205K)', '8.1\n (12K)', '8.8\n (651K)', '8.6\n (247K)', '4.3\n (915)', '8.8\n (148K)', '8.1\n (869K)', '8.7\n (527K)', '7.6\n (98K)', '8.1\n (136K)', '8.0\n (209K)', '8.4\n (179K)', '8.9\n (1.1M)', '8.7\n (641K)', '8.5\n (485K)', '7.2\n (33K)', '8.6\n (214K)', '9.0\n (649K)', '9.0\n (57K)', '6.9\n (1.7K)', '8.8\n (274K)', '8.6\n (257K)', '9.1\n (513K)', '8.2\n (142K)', '8.8\n (350K)', '8.4\n (364K)', '8.3\n (596K)', '7.3\n (2.2K)', '7.1\n (9.1K)', '7.8\n (44K)', '9.0\n (236K)', '7.8\n (176K)', '8.7\n (202K)', '6.9\n (4.1K)', '7.8\n (33K)', '9.1\n (1M)', '8.0\n (65K)', '7.3\n (737)']

In [68]:
#scraping the Votes 
v=driver.find_elements(By.XPATH, '//div[@class="sc-7630d22e-3 kssHlQ ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div[2]/div/div/span/div/span/span')
for i in v:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)
print(len(Votes),Votes)

99 [' (154K)', ' (71K)', ' (114K)', ' (7.9K)', ' (29K)', ' (100K)', ' (105K)', ' (2.3M)', ' (26K)', ' (8.7K)', ' (17K)', ' (1.9K)', ' (4.1K)', ' (3K)', ' (1.1K)', ' (342K)', ' (103K)', ' (73K)', ' (1.9K)', ' (768K)', ' (344K)', ' (2K)', ' (54K)', ' (169K)', ' (1.5K)', ' (2.2K)', ' (71K)', ' (654K)', ' (6.8K)', ' (163K)', ' (2.1M)', ' (125K)', ' (3.1K)', ' (1.1M)', ' (114K)', ' (22K)', ' (136K)', ' (47K)', ' (222K)', ' (658K)', ' (5.8K)', ' (38K)', ' (219K)', ' (584K)', ' (1.3M)', ' (473K)', ' (89K)', ' (515K)', ' (480K)', ' (7.9K)', ' (714K)', ' (3.9K)', ' (484K)', ' (378K)', ' (3.3K)', ' (113K)', ' (30K)', ' (286K)', ' (61K)', ' (243K)', ' (423K)', ' (205K)', ' (12K)', ' (651K)', ' (247K)', ' (915)', ' (148K)', ' (869K)', ' (527K)', ' (98K)', ' (136K)', ' (209K)', ' (179K)', ' (1.1M)', ' (641K)', ' (485K)', ' (33K)', ' (214K)', ' (649K)', ' (57K)', ' (1.7K)', ' (274K)', ' (257K)', ' (513K)', ' (142K)', ' (350K)', ' (364K)', ' (596K)', ' (2.2K)', ' (9.1K)', ' (44K)', ' (236K)', ' (176K)', ' (202K)', ' (4.1K)', ' (33K)', ' (1M)', ' (65K)', ' (737)']

In [69]:
TV_Series=pd.DataFrame([])
TV_Series['Name']=Name[:99]
TV_Series['Year_span']=Year_span[:99]
TV_Series['Rating']=Ratings[:99]
TV_Series['Votes']=Votes[:99]
TV_Series

                   Name  Year_span        Rating    Votes
0               Fallout      2024–  8.5\n (154K)   (154K)
1         Baby Reindeer       2024   8.0\n (71K)    (71K)
2                Shōgun       2024  8.8\n (114K)   (114K)
3   Dead Boy Detectives      2024–  7.6\n (7.9K)   (7.9K)
4                Ripley       2024   8.2\n (29K)    (29K)
..                  ...        ...           ...      ...
94            Severance      2022–  8.7\n (202K)   (4.1K)
95        Mary & George      2024–  6.9\n (4.1K)    (33K)
96         The Resident  2018–2023   7.8\n (33K)     (1M)
97             Sherlock  2010–2017    9.1\n (1M)    (65K)
98         Chicago Fire      2012–   8.0\n (65K)    (737)

[99 rows x 4 columns]

# 10. Details of Datasets from UCI machine learning repositories.

In [70]:
driver = webdriver.Chrome()
url8="https://archive.ics.uci.edu/ml/index.php"
driver.get(url8)

The chromedriver version (123.0.6312.86) detected in PATH at C:\Users\Adeeb Naiyer\chromedriver.exe might not be compatible with the detected chrome version (124.0.6367.119); currently, chromedriver 124.0.6367.155 is recommended for chrome 124.*, so it is advised to delete the driver in PATH and retry

In [71]:
Dataset_Name=[]
Data_Type=[]
Task=[]
No_of_Instances=[]
No_of_Attribute=[]

In [72]:
search_1 = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')      
search_1.click()

In [73]:
#scraping the Dataset_Name 
dname=driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in dname:
    if i.text is None :
        Dataset_Name.append("--") 
    else:
        Dataset_Name.append(i.text)
print(len(Dataset_Name),Dataset_Name)

10 ['Iris', 'Heart Disease', 'Dry Bean', 'Rice (Cammeo and Osmancik)', 'Adult', 'Breast Cancer Wisconsin (Diagnostic)', 'Raisin', 'Wine', 'Wine Quality', 'Diabetes']

In [74]:
#scraping the Data_Type 
dtype=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in dtype:
    if i.text is None :
        Data_Type.append("--") 
    else:
        Data_Type.append(i.text)
print(len(Data_Type),Data_Type)

10 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series']

In [75]:
#scraping the Task 
t=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in t:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
print(len(Task),Task)

10 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

In [76]:
#scraping the No_of_Instances 
inst=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for i in inst:
    if i.text is None :
        No_of_Instances.append("--") 
    else:
        No_of_Instances.append(i.text)
print(len(No_of_Instances),No_of_Instances)

10 ['150 Instances', '303 Instances', '13.61K Instances', '3.81K Instances', '48.84K Instances', '569 Instances', '900 Instances', '178 Instances', '4.9K Instances', '1 Instances']

In [77]:
#scraping the No_of_Attribute 
noa=driver.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for i in noa:
    if i.text is None :
        No_of_Attribute.append("--") 
    else:
        No_of_Attribute.append(i.text)
print(len(No_of_Attribute),No_of_Attribute)

10 ['4 Features', '13 Features', '16 Features', '7 Features', '14 Features', '30 Features', '8 Features', '13 Features', '12 Features', '20 Features']

In [78]:
UCI=pd.DataFrame([])
UCI['Dataset_Name']=Dataset_Name
UCI['Data_Type']=Data_Type
UCI['Task']=Task
UCI['No_of_Instances']=No_of_Instances
UCI['No_of_Attribute']=No_of_Attribute
UCI

,Dataset_Name,Data_Type,Task,No_of_Instances,No_of_Attribute
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Heart Disease,Multivariate,Classification,303 Instances,13 Features
2,Dry Bean,Multivariate,Classification,13.61K Instances,16 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,48.84K Instances,14 Features
5,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
6,Raisin,Multivariate,Classification,900 Instances,8 Features
7,Wine,Tabular,Classification,178 Instances,13 Features
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features