# **Regular Expressions -  Assignment 2**

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [20]:
import re
sample_text='Python Exercises, PHP exercises.'
replaced_text = re.sub(r'[ ,.]', ':', sample_text)
print(replaced_text)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-

0      hello world

1             test

2    four five six

In [21]:
import pandas as pd

dic= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

def new_dict(old_dict):

    new_pat = re.sub(r'XXXX|123|[^\w\s]', '', old_dict)
    return new_pat

cleaned_summary = [new_dict(summary) for summary in dic['SUMMARY']]

updated_dic = {'SUMMARY': cleaned_summary}
df = pd.DataFrame(updated_dic)
df

         SUMMARY
0    hello world
1         X test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [22]:
def find_four_char(text):
    pattern = re.compile(r'\b\w{4,}\b')

    long_words = pattern.findall(text)
    return long_words

text = "India got its independence on 15 august 1947"
result = find_four_char(text)
print(result)

['India', 'independence', 'august', '1947']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [23]:
def find_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')

    words = pattern.findall(text)

    return words

text = "India celecbrates republic day on 26 of january every year"
result = find_words(text)
print(result)

['India', 'day', 'every', 'year']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output:

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [24]:
def remove_parentheses(strings):
    pattern = re.compile(r'\([^)]*\)')

    result = []

    for string in strings:
        modified_string = pattern.sub('', string)

        result.append(modified_string)

    return result

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = remove_parentheses(sample_text)
print(output)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [25]:
with open('sample1.txt', 'r') as file:
  content = file.read()

def remove_parentheses(text):
    pattern = re.compile(r'\([^)]*\)')
    return pattern.sub('', text)

modified_op = remove_parentheses(content)
modified_op

'["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]'

Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [26]:
text = "ImportanceOfRegularExpressionsInPython"

pattern = re.compile(r'[A-Z][a-z]*')

matches = pattern.findall(text)

print(matches)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [27]:
def insert_space(text):
    new_text = re.sub(r'(\d)([A-Z][a-z])', r' \1\2', text)
    return new_text

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = insert_space(sample_text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [28]:
def insert_space(text):
    pattern=r'([A-Z])([a-z])'
    new_text = re.sub(pattern, r' \1\2', text)
    new_text=re.sub(r'([\w])(\d)',r'\1 \2', new_text)
    return new_text

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = insert_space(sample_text)
print(output)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [29]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df

df['first_5_letters'] = df['Country'].str[:6]
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_5_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [30]:
text = ["Microsoft123", "abc123", "ABC_123", "Face*Book", "123", "_underscore", "India is great"]
for i in text:

  pattern = r'^[a-zA-Z0-9_]+$'
  output=re.match(pattern, i)
  print(output)

<re.Match object; span=(0, 12), match='Microsoft123'>
<re.Match object; span=(0, 6), match='abc123'>
<re.Match object; span=(0, 7), match='ABC_123'>
None
<re.Match object; span=(0, 3), match='123'>
<re.Match object; span=(0, 11), match='_underscore'>
None

Question 12- Write a Python program where a string will start with a specific number.

In [31]:
sample=['456','67','43','78','490']
for i in sample:
  pattern=r'^4[0-9]+'
  output=re.match(pattern,i)
  print(output)

<re.Match object; span=(0, 3), match='456'>
None
<re.Match object; span=(0, 2), match='43'>
None
<re.Match object; span=(0, 3), match='490'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [32]:
pattern = r'\b0*(\d+)\b'
new_ip = re.sub(pattern, r'\1','192.158.001.038.')
print(new_ip)

192.158.1.38.

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [33]:
with open('sample2.txt', 'r') as file:
  text = file.read()
pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'
match = re.findall(pattern, text)
print(match)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [34]:
sample_text = ['The quick brown fox jumps over the lazy dog.']
pattern=r'fox|dog|horse'
for i in sample_text:
  match=re.findall(pattern,i)
  print(match)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [35]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
pattern=r'fox'
re.search(pattern, sample_text)

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [36]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
substrings = re.findall(pattern, sample_text)
print(substrings)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [37]:
sample_text = '"Python exercises", "PHP exercises", "C# exercises"'
pattern = 'exercises'
for i in sample_text:
  substrings = re.findall(pattern, sample_text)
  print(substrings)

['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']
['exercises', 'exercises', 'exercises']

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [38]:
date = '2024-03-06'
match = re.match(r'(\d{4})-(\d{2})-(\d{2})', date)
if match:
    formatted_date = f"{match.group(3)}-{match.group(2)}-{match.group(1)}"
    print("Original date:", date)
    print("Formatted date:", formatted_date)

Original date: 2024-03-06
Formatted date: 06-03-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
pattern = re.compile(r'\b\d+\.\d{1,2}\b')
decimal_numbers = pattern.findall(text)

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = re.findall(pattern, sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [40]:
text = "abc123def456ghi789"

pattern = re.compile(r'\d+')

matches = pattern.finditer(text)

for match in matches:
    number = match.group()
    position = match.start()
    print(f"Number: {number}, Position: {position}")

Number: 123, Position: 3
Number: 456, Position: 9
Number: 789, Position: 15

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [41]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numbers = re.findall(r'\d+', sample_text)
max_value = max(map(int, numbers))
print(max_value)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [42]:
sample_text= 'RegularExpressionIsAnImportantTopicInPython'
pattern = r'([a-z])([A-Z])'
output = re.sub(pattern, r'\1 \2', sample_text)
print(output)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [43]:
sample_text= 'RegularExpressionIsAnImportantTopicInPython'
pattern = r'([A-Z][a-z]+)'
output = re.findall(pattern, sample_text)
print(output)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [44]:
sample_text= "Hello hello world world"
pattern=r'(\w+)(?:\s+\1)+'
output=re.sub(pattern, r'\1', sample_text)
print(output)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [45]:
text = ["Hello123", "abc123!", "Testing321", "123Testing", "Hello World"]
pattern = r'\w$'
for i in text:
    if re.search(pattern, i):
        print(f"{i}: Accepted")
    else:
        print(f"{i}: Not accepted")

Hello123: Accepted
abc123!: Not accepted
Testing321: Accepted
123Testing: Accepted
Hello World: Accepted

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [46]:
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r'#\w+'
hashtags = re.findall(pattern, sample_text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [47]:
sample_text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+[0-9A-Fa-f]+>'
cleaned_text = re.sub(pattern, '', sample_text)
print(cleaned_text)

@Jags123456 Bharat band on 28??Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [48]:
with open('sample3.txt', 'r') as file:
    text = file.read()
pattern = r'\b\d{2}-\d{2}-\d{4}\b'
dates = re.findall(pattern, text)
print(dates)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [49]:
def remove_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    cleaned_text = pattern.sub('', text)

    return cleaned_text.strip()

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
print(remove_words(sample_text))

following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.